<a href="https://colab.research.google.com/github/AV-Gorshkov/Python_netology/blob/main/PY_%D0%BB%D0%B8%D0%BD%D0%B5%D0%B9%D0%BD%D0%B0%D1%8F_%D1%80%D0%B5%D0%B3%D1%80%D0%B5%D1%81%D1%81%D0%B8%D1%8F(%D1%87%D0%B0%D1%81%D1%82%D1%8C_2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Предсказываем стоимость мед страховки

## Загужаем необходимые библиотеки

In [ ]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

## Загружаем данные

Собраны данные:
- age: возраст
- sex: пол
- bmi: индекс массы тела
- children: количество детей, охваченных медицинским страхованием / количество иждивенцев
- smoker: курение
- region: регион (northeast, southeast, southwest, northwest).
- charges: индивидуальные медицинские расходы (его и хотим предсказать)

In [ ]:
# Загрузите данные из файла insurance.csv в переменную df
import pandas as pd
df=pd.read_csv( 'insurance.csv', sep=',')

In [ ]:
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

## Смотрим статистику, что нет пропусков и отсуствующих значений

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [ ]:
df.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

## Преобразуем строковые данные

In [ ]:
# Заменяем пол и курение на числа
df['sex']=df['sex'].map({'male':1, 'female':0})
df['smoker']=df['smoker'].map({'yes':1,'no':0})

In [ ]:
df.head()

   age  sex     bmi  children  smoker     region      charges
0   19    0  27.900         0       1  southwest  16884.92400
1   18    1  33.770         1       0  southeast   1725.55230
2   28    1  33.000         3       0  southeast   4449.46200
3   33    1  22.705         0       0  northwest  21984.47061
4   32    1  28.880         0       0  northwest   3866.85520

In [ ]:
# Заменяем регион на набор отдельных колонок (is_southwest, is_southeast и тп)
df = pd.get_dummies(df, columns=['region'])
df.head()

,age,sex,bmi,children,smoker,charges,region_northeast,region_northwest,region_southeast,region_southwest
0,19,0,27.900,0,1,16884.92400,0,0,0,1
1,18,1,33.770,1,0,1725.55230,0,0,1,0
2,28,1,33.000,3,0,4449.46200,0,0,1,0
3,33,1,22.705,0,0,21984.47061,0,1,0,0
4,32,1,28.880,0,0,3866.85520,0,1,0,0

## Формируем признаки и целевую переменную

In [ ]:
## Сформируйте признаки и целевую переменную
df.columns

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'charges',
       'region_northeast', 'region_northwest', 'region_southeast',
       'region_southwest'],
      dtype='object')

In [ ]:
# X, y = ...
X = df[['age', 'sex', 'bmi', 'children', 'smoker','region_northeast', 'region_northwest', 'region_southeast','region_southwest']]
y = df['charges']

In [ ]:
X

,age,sex,bmi,children,smoker,region_northeast,region_northwest,region_southeast,region_southwest
0,19,0,27.900,0,1,0,0,0,1
1,18,1,33.770,1,0,0,0,1,0
2,28,1,33.000,3,0,0,0,1,0
3,33,1,22.705,0,0,0,1,0,0
4,32,1,28.880,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...
1333,50,1,30.970,3,0,0,1,0,0
1334,18,0,31.920,0,0,1,0,0,0
1335,18,0,36.850,0,0,0,0,1,0
1336,21,0,25.800,0,0,0,0,0,1
1337,61,0,29.070,0,1,0,1,0,0

In [ ]:
y

0       16884.92400
1        1725.55230
2        4449.46200
3       21984.47061
4        3866.85520
           ...
1333    10600.54830
1334     2205.98080
1335     1629.83350
1336     2007.94500
1337    29141.36030
Name: charges, Length: 1338, dtype: float64

## Разделяем данные на выборку для обучения/проверки

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.23)

## Создаем и обучаем модель линейной регресии

In [ ]:
# Создайте и обучите модель
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(X_train, y_train)

LinearRegression()

## Получаем предсказание и оцениваем качество

In [ ]:
# Получите предсказание
lr.coef_

array([  256.38177364,  -200.54241774,   339.56855191,   386.62844085,
       24160.14945615,   757.85138246,   213.43256284,  -560.94147974,
        -410.34246555])

In [ ]:
# Оцените качество, при помощи метода mean_squared_error для тестовой выборки

In [ ]:
lr.predict(X_test)

array([28087.94346412, 12697.44126566,  1627.60292907, 10565.97356513,
       14367.8959404 , 33660.98905539,  4416.97721177,  2777.2152554 ,
       24427.54634493,  6590.16332541, 14635.24550231, 10978.6582376 ,
        1021.19111238,  3483.15617706, 27096.54400134, 31553.30532891,
       16310.55366615, 11965.72894275,  6313.49764198, 26455.16985089,
        3409.95948324, -1346.82061359, 12592.81947667,  8162.4431193 ,
        7184.6150094 , 11090.03986221,  -188.92356251,  7405.93106861,
       11442.19726562, 27312.26387982,  7742.47221759,  1274.16216661,
       30945.49938711,  1366.01766903,  1875.65323313, 27817.03671618,
       10354.86202424,  5772.25662811, 11698.72550588, 16130.66502002,
       13239.18618187, 12808.59047964, 14892.87386806,  4225.01045487,
       10333.36989177,  5200.29183041, 33700.81032752, 11580.78206089,
       13184.33040356, 13899.91107299, 29137.27794203,  6541.40194903,
       29352.8477092 ,  6535.34736091,  8023.74646618,  9280.91938683,
        8767.46173043, 25735.68383144, 10248.76027227,  5649.55557663,
        5316.78512799,  6664.38341064,  8880.41956083, 10248.88430402,
        7760.33342478, 12042.15829002,  6215.40697908,  4125.07980582,
        5595.24473128,   719.69097643, 10820.36398957,  8682.69887898,
       31012.05654727,  6368.31219088,  5108.22568785,  5491.03213815,
        4488.6332401 ,  7176.64308866, 37138.2762642 , 10541.43458969,
       14552.64731427, 13681.27817908,  2972.29439464, 33250.31720672,
       25578.72883758,  3138.44899521,  6606.72969717,  8110.36139255,
        8530.34278279, 24653.96317204, 29939.74642623,  4763.14767956,
        -222.03898348, 14361.49031372,  8371.29524049, 14575.5794989 ,
       28853.8638761 , 10234.48217117,  6647.48015248,  3827.38365058,
       37712.2713144 , 10906.3765417 , 27848.65906076,  2977.19374686,
        7579.66590786, 14733.02784265, 11227.40350926, 35343.60384873,
       11198.3979794 , 36709.83705636,  5237.0149429 , 12040.30470456,
        9958.97680289, 32804.18369602,  3387.10879902,  6181.70375257,
       10319.81256051, 15547.47708552,  9906.3659465 ,  8064.53968247,
        6215.98844566, 10477.85100279,  3469.63357054,  2455.35604023,
       29571.47240323,  8693.42069036, 26177.01406702, 13176.35848282,
        9932.3812304 ,  9248.14817042, 12253.05610321,  6645.56521466,
       12580.11346488, 14600.47033069,  8963.934177  ,  9155.27072098,
        1774.53612753, 11015.60838998,  9855.77142237,  3359.17321091,
       14967.65024666, 11670.32685342,  8605.7206724 ,  5210.4337853 ,
        7529.17196398, 32068.25533657,  6243.87571192, 11190.01872373,
        4262.36542345, 13539.49700128,  4282.56433058,  3246.86521336,
       34569.9777507 , 26743.33092863,  3549.74122795,  7761.87414232,
        3768.4163115 , 30312.76796408, 12889.40802256, 16388.51007959,
       29739.88068894, 27466.57059883, 14315.83676449, 14046.89627107,
        4067.80279256,  5831.14053395, 13361.83762854, 10248.05352405,
       32166.61528542, 11371.66814421, 10960.81746813, 13239.13822022,
        5562.38197875,  9227.52689446,  4419.35800203, 28303.64101934,
       16768.26911998,  9434.28393756, 12835.03195259, 28743.49897458,
        7627.56251448,   670.21658478,  8472.48082397, 29699.8716735 ,
        7652.10080698,  7584.49481153, 11517.77002882, 32267.61276539,
       11610.79558805, 10407.84407087, 13104.24376978, 35626.48945996,
        8041.66336971, 34335.10615721, 34192.15201057,  3378.78245159,
       12453.514303  , 11467.61440153, 35961.75391821, 12088.71670449,
        1583.02805533,  7216.29444266, 12108.32741281,  5993.80846096,
       34688.26661131,  3820.71429997, 10459.84013529,  9396.07048516,
        3039.70663056,  9129.56852276, 12364.81219458, 34616.55507131,
        3202.96702007, 15100.27838706, 12424.25924199, 10450.66296781,
       10240.8967304 ,  8264.51817393, 13877.81656629,  9951.0650177 ,
       13160.99235162,  6557.90431298, 28817.98965521,  5130.32019455,
        8588.44755242,  1357.21496831,  3812.50760464, 10330.66001373,
        8151.56599158,   160.38404857,  3598.60071788,  6880.80359661,
        5872.61716292,  5248.91651927,  8266.01395551, 11632.29011532,
        7092.04524182, 12113.50139838, 27646.45924496,  8553.24636729,
       14053.75744516, 25486.74025926,  1752.76358494,  5164.95612499,
        7598.30745347,  7743.11518558, 11017.32287672, 15179.79790522,
       38029.30295432, 10274.84606864, 14806.12814462,  9469.97686572,
       13972.58883059, 10263.28614724,  6473.28306666,  2775.52492959,
        8527.0479592 ,  3031.53000302,  6875.51241329, 37107.91794041,
        7606.58931824,  7642.91826876, 10602.82223658, 10252.74466399,
        3723.01139275,  5596.93505709, 10296.00231717, 10807.07839862,
       10891.66747862,  4337.27041549, 33253.76386767, 39441.13838653,
       26465.45627089, 11929.60957035,  7539.58845522, 34028.33584262,
       32153.4527616 ,  4611.23678469, 25420.58738717, 39024.03432237,
       16285.92968806,  5215.37759369, 30264.5750219 ,  4433.79625198,
        8375.54872689, 15584.2033353 ,  8293.29666389, 30767.10641096,
        3527.85121029, 16932.30334325,  -640.54973656,  8759.0808955 ,
       39177.8169143 ,  3802.00997317,  1928.17371612,  8401.48276443,
        7023.24488941,  9156.5451187 ,  7175.58606332, 12527.79758255,
       11969.23362614,  5857.90809984,  3564.54453232, 39099.61180646,
       -1476.55510989, 10222.17597737, 10723.71412133,  8691.73322452])

In [ ]:
from sklearn.metrics import mean_squared_error
mean_squared_error(y_test, lr.predict(X_test))

39682967.00889356

In [ ]:
mean_squared_error(y_train, lr.predict(X_train))

35600829.42130369

## Делаем предсказание для одного человека

In [ ]:
# Заполняем данные по конкретному человеку
data = [{
    "age": 20,
    "sex": 1,
    "bmi": 30,
    "children": 2,
    "smoker": 1,
    "region_northeast": 0,
    "region_northwest": 0,
    "region_southeast": 1,
    "region_southwest": 0
}]

In [ ]:
df_person = pd.DataFrame(data)
df_person.head()

,age,sex,bmi,children,smoker,region_northeast,region_northwest,region_southeast,region_southwest
0,20,1,30,2,1,0,0,1,0

In [ ]:
lr.predict(df_person)

array([27026.23321692])

**Задание_2 (со звёздочкой):**

In [ ]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

df_cost=pd.read_csv( 'CSV_(Google).csv', sep=';')
df_cost.head(7)

,траты в позапрошлом месяце,траты в прошлом месяце,траты в текущем месяце,траты в следующем месяце
0,50,100,100,100
1,200,200,150,150
2,250,200,150,200
3,300,200,250,200
4,300,200,300,200
5,300,300,400,200
6,400,300,400,300

In [ ]:
df_cost.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 4 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   траты в позапрошлом месяце  12 non-null     int64
 1   траты в прошлом месяце      12 non-null     int64
 2   траты в текущем месяце      12 non-null     int64
 3   траты в следующем месяце    12 non-null     int64
dtypes: int64(4)
memory usage: 512.0 bytes

In [ ]:
df_cost.describe()

,траты в позапрошлом месяце,траты в прошлом месяце,траты в текущем месяце,траты в следующем месяце
count,12.000000,12.000000,12.000000,12.000000
mean,395.833333,420.833333,537.500000,416.666667
std,234.964536,386.980346,481.534007,386.319071
min,50.000000,100.000000,100.000000,100.000000
25%,287.500000,200.000000,225.000000,200.000000
50%,350.000000,300.000000,400.000000,250.000000
75%,500.000000,425.000000,550.000000,500.000000
max,1000.000000,1500.000000,1500.000000,1500.000000

In [ ]:
df_cost.columns

Index(['траты в позапрошлом месяце', 'траты в прошлом месяце',
       'траты в текущем месяце', 'траты в следующем месяце'],
      dtype='object')

In [ ]:
X = df_cost[['траты в позапрошлом месяце', 'траты в прошлом месяце', 'траты в текущем месяце']]
y = df_cost['траты в следующем месяце']

In [ ]:
X
# y

    траты в позапрошлом месяце  траты в прошлом месяце  траты в текущем месяце
0                           50                     100                     100
1                          200                     200                     150
2                          250                     200                     150
3                          300                     200                     250
4                          300                     200                     300
5                          300                     300                     400
6                          400                     300                     400
7                          450                     350                     500
8                          500                     400                     500
9                          500                     500                     700
10                         500                     800                    1500
11                        1000                    1500                    1500

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)
lr = LinearRegression()
lr.fit(X_train, y_train)

LinearRegression()

In [ ]:
lr.coef_

array([ 0.40200642,  0.85888535, -0.08706776])

In [ ]:
lr.predict(X_test)

array([323.17484067, 377.51265281, 509.03222378])

In [ ]:
mean_squared_error(y_test, lr.predict(X_test))

1957.689936226531

In [ ]:
mean_squared_error(y_train, lr.predict(X_train))

1708.739525346731

MSE для обучаемой выборки = 1708 (т.е. примерно  ± 41р. от стоимости покупки), для тестовой выборки MSE = 1957 (примерно ± 44р. от стоимости покупки).Расхождение между MSE для тестовой и для обучаемой выборки незначительное, т.е. модель может прогнозировать затраты на будующий период.